@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  /* Slate 900 */
  --background-end-rgb: 15, 23, 42;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

#__next {
  width: 100%;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}